<footer class="tada-container">
    <!-- FOOTER BOTTOM -->
    <div class="footer-bottom">
        <span class="copyright">© 2023 <a href="semihozcan.com">semihozcan.com</a> - Karpinus Kitapevi bütün haklar saklıdır</span>
        <span class="backtotop">Yukarı <i class="icon-arrow-up7"></i></span>
        <div class="clearfix"></div>
    </div>
</footer>