@model DergiBiraz.WebMVC.Models.Users.SignUpAdminViewModel

@{
    ViewData["Title"] = "SignUpForAdmin";
    Layout = "~/Areas/Admins/Views/Shared/_AdminLayout.cshtml";
}

<main id="main" class="main">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a href="index.html" class="logo d-flex align-items-center w-auto">
                            <img src="assets/img/logo.png" alt="">
                            <span class="d-none d-lg-block">Dergi Biraz</span>
                        </a>
                    </div><!-- End Logo -->

                    <div class="card mb-3">

                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Yeni Yönetici Ekle</h5>
                                <p class="text-center small">Yeni yönetici hesabı oluşturma formu</p>
                            </div>

                            <form class="row g-3 needs-validation" asp-controller="Users" asp-action="SignUpForAdmin" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-12">
                                    <label for="yourName" class="form-label">İsim</label>
                                    <input asp-for="Name" type="text" name="name" class="form-control" id="yourName" placeholder="İsim">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label for="yourEmail" class="form-label">Soyisim</label>
                                    <input asp-for="LastName" type="text" name="lastname" class="form-control" id="yourName" placeholder="Soyisim">
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label for="yourUsername" class="form-label">Mail Adresi</label>
                                    <div class="input-group has-validation">
                                        <input asp-for="Name" type="email" name="email" class="form-control" id="yourName" placeholder="Mail Addresi">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">Şifre</label>
                                    <input asp-for="Password" type="password" name="password" class="form-control" id="yourPassword" placeholder="******">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">Şifre Yeniden</label>
                                    <input asp-for="ConfirmPassword" type="password" name="password" class="form-control" id="yourPassword" placeholder="******">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">Yetki Onay Kodu</label>
                                    <input asp-for="ComfirmationCode" type="password" name="password" class="form-control" id="yourPassword" placeholder="******">
                                    <span asp-validation-for="ComfirmationCode" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Kaydet</button>
                                </div>
                                <div class="col-12">
                                    <p class="small mb-0">Kaydetmeden çıkmak için tıklayın<a href="/Admins/Users/GetAllUsers">Vazgeç</a></p>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
  </main>