
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="tada-container content-posts page post-right-sidebar">


    	<!-- CONTENT -->
    	<div class="content col-xs-8">
        	<!-- ARTICLE 1 -->
        	<article>
            	<div class="post-image">
                	<img src="/defaultImage/contactImage.jpg" alt="contact image"> 
                </div>
                    <div class="comment-form">
                        <div class="post-text">
                        <h2>İletişim Formu</h2>
                    </div>  
                    <span class="field-name">e-Posta Adresiniz</span>
                    <input type="text" class="email">
                    <span class="field-name">Konu Başlığı</span>
                    <input type="text" class="email">
                    <span class="field-name">Mesajınız</span>
                    <textarea class="message"></textarea>

                    <button type="submit">Gönder</button>

                </div>
            
       	 	</article>
        
        
        </div>


        <!-- SIDEBAR -->        
        <div class="sidebar col-xs-4">
        	
            
            <!-- ABOUT ME -->                  
            <div class="widget about-me">
            	<div class="ab-image">
                	<img src="/defaultImage/headerImage.jpg" alt="about me">
                    <div class="ab-title">Hakkımızda</div>
                </div>
                <div class="ad-text">
                	<p>e-Posta Adresimiz: bilgi@biraz.com</p>
                    <span class="signing">BİRAZ</span>
                </div>
            </div>
            <!-- FOLLOW US -->                              
            <div class="widget follow-us">
            	<h3 class="widget-title">
                	Sosyal Medya Hesapları
                </h3>
            	<div class="follow-container">
                    <a href="#"><i class="icon-facebook5"></i></a>
                    <a href="#"><i class="icon-twitter4"></i></a>
                    <a href="#"><i class="icon-google-plus"></i></a>
                    <a href="#"><i class="icon-vimeo4"></i></a>
                    <a href="#"><i class="icon-linkedin2"></i></a>                
                </div>
            	<div class="clearfix"></div>
            </div>            
            <!-- TAGS -->                              
            <div class="widget tags">
            	<h3 class="widget-title">
                	Kategoriler
                </h3>
            	<div class="tags-container">
                    <a href="#">Fikir</a>
                    <a href="#">Edebiyat</a>
                    <a href="#">Sanat</a>
                    <a href="#">insan</a>
                    <a href="#">Hayat</a>                                   
                </div>
            	<div class="clearfix"></div>
            </div> 
            
        </div> <!-- #SIDEBAR -->     
    </section>