<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " asp-controller="Dashboard" asp-area="Admins" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Anasayfa</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-person"></i><span>Kullanıcılar</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-controller="Users" asp-area="Admins" asp-action="GetAllUsers">
                        <i class="bi bi-circle"></i><span>Kullanıcı Listesi</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-gem"></i><span>Yazarlar</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-controller="Writers" asp-area="Admins" asp-action="GetAllWriters">
                        <i class="bi bi-circle"></i><span>Yazar Listesi</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Writers" asp-area="Admins" asp-action="Add">
                        <i class="bi bi-circle"></i><span>Yeni Yazar Ekle</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Icons Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Yazılar</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-controller="Articles" asp-area="Admins" asp-action="GetAllArticles">
                        <i class="bi bi-circle"></i><span>Yazı Listesi</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Articles" asp-area="Admins" asp-action="Add">
                        <i class="bi bi-circle"></i><span>Yeni Yazı Ekle</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Forms Nav -->

@*        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Şiirler</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="tables-general.html">
                        <i class="bi bi-circle"></i><span>Şiir Listesi</span>
                    </a>
                </li>
                <li>
                    <a href="tables-data.html">
                        <i class="bi bi-circle"></i><span>Yeni Şiir Ekle</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Tables Nav -->*@

@*        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i><span>Kategoriler</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-controller="Categories" asp-area="Admins" asp-action="GetAllCategories">
                        <i class="bi bi-circle"></i><span>Kategori Listesi</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Charts Nav -->*@

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Categories" asp-area="Admins" asp-action="GetAllCategories">
                <i class="bi bi-bar-chart"></i><span>Kategoriler</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="ArticleComments" asp-area="Admins" asp-action="GetAllArticleComments">
                <i class="ri-align-center"></i><span>Yorumlar</span>
            </a>
        </li><!-- End Profile Page Nav -->

    </ul>

</aside><!-- End Sidebar-->